@font-face {
    font-family: SpringisComing;
    src: url(font/SpringisComing.ttf);
}

body{
    background-color: #EBEDEF;
    padding-top: 20px;
}
#contenu{
    height: 1800px;
    width: 1200px;
    margin: auto;
    box-shadow: 5px 5px 20px #555;
}

#banner{
    height: 360px;
    width: 1200px;
    background-color: #5DADE2;
}
#info{
    float: left;
    height: 1440px;
    width: 360px;
    background-color: #E5E8E8;
    text-align: center;
}
#details{
    display: inline-block;
    height: 80%;
    width: 70%;
    background-color: #FDFEFE;
}


#photo{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-top: 30px;
}

#photo:hover{
    transform: scale(1.1);
}

#identity_photo{
    float: left;
    height: 360px;
    width: 360px;
    text-align: center;
    margin: 0px;
}

#identity_name{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 360px;
    width: 840px;
}

#identity_text_name{
    position: relative;
    top: 110px;
    font-size: 64px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    padding: 50px; 
    text-align: center;
}

#identity_text_profession{
    position: relative;
    top: 150px;
    color: white;
    font-family: SpringisComing;
    background-color: #17202A;
    padding: 10px;
    margin:  -20px 200px 200px 200px;
    font-size: 50px;
}

#capture_logo{
    position: relative;
    color: white;
    top: 180px;
    left: 380px; 
    padding: 2px;
    cursor: pointer;
}

.material-icons:hover{
    transform: scale(1.2);
}

.info{
    border-style: dashed;
    border-color: #5DADE2;
    border-width: 5px;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 55px 5px 55px; 
    text-align: center;
}

#profile{
    position: relative;
    top: 70px;
}

#contact{
    position: relative;
    top: 130px;
}

#info_text{
    color: #17202A;
    position: relative;
    top: 100px;
    margin: auto 60px 20px 60px;
    font-size: 20px;
    text-align: justify;
}
#info_contact{
    color: #17202A;
    position: relative;
    top: 160px;
    margin: auto 60px 20px 60px;
    font-size: 20px;
    text-align: justify;
}

#langue{
    position: relative;
    top: 180px;
}

#info_langue{
    position: relative;
    top: 200px;
}

b{
    border-radius: 150px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}