:root{
    --main-color: #212F3D;
    --theme-color:#5DADE2;
    --info-bg-color:#dfe6e9;
    --details-bg-color: #FDFEFE;
    --marge-contenu: 30px;
}

@font-face {
    font-family: SpringisComing;
    src: url(font/SpringisComing.ttf);
}
body{
    margin: 0px;
    padding: 0px;
    background-color: var(--theme-color);
}

#contenu{
    display: none;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    height: 1800px;
    width: 1200px;
    box-shadow: 5px 5px 20px var(--main-color);
}
#banner{
    display: flex; margin: auto;
    background-color: var(--theme-color);
    height: 360px;
    width: 1200px;
}
#banner-photo{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 360px;
    width: 360px;
}
#banner-photo img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}
#banner-photo img:hover{
    transform: scale(1.1);
}
#banner-title{
    display: flex;
    flex-direction: column;
    height: 360px;
    width: 840px;
}
#banner-title-name{
    font-size: 64px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid white;
    padding: 50px;
    margin: auto;
    margin-bottom: -20px;
}
.title-dark{
    color: white;
    font-family: SpringisComing;
    background-color: var(--main-color);
    padding: 10px;
    font-size: 50px;
}
#banner-title-title{
    margin:  -10px 200px 30px 200px;
}
#banner-title-screenshot{
    position: relative;
    color: white;
    cursor: pointer;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

.icon:hover{
    transform: scale(1.2);
}
#banner-title-screenshot i:hover{
    transform: scale(1.3);
}
#info{
    background-color: var(--info-bg-color);
    height: 1440px;
    width: 360px;
    display: flex;
    flex-direction: column;
}
.info-title{
    border: 5px dashed var(--theme-color);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 55px 5px 55px;
    text-align: center;
    margin: var(--marge-contenu);
}
#info-profile-text, #info-contact-text, #info-social-text, #info-seo-text{
    color: var(--main-color);
    font-size: 20px;
    text-align: justify;
    margin: 0 40px 0 40px;
    line-height: 35px;
}
#info-contact-text{
    display: flex;
    flex-direction: column;
}
#info-contact-text *{
    vertical-align: middle;
}
#info-contact-text-adress{
    display: flex;
    flex-direction: row;
}
#info-langue-text{
    display: flex;
    flex-direction: column;
}
.langue{
    background-color: var(--theme-color);
    padding: 15px;
    padding-left: 0px;
    border-radius: 30px;
    margin: 0px 30px 15px 32px;
    font-weight: bold;
    color: white;
}
.langue span:nth-child(1){
    padding: 15px;
    border-radius: 50%;
    border: 7px solid var(--info-bg-color);
}
.langue span:nth-child(2){
    padding-left: 50px;
}
#info-social-text{
    display: flex;
    flex-direction: column;
}

#info-social-text img{
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

#info-seo-text{
    text-align: center;
}
#details{
    height: 1440px;
    width: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--details-bg-color);
}

#details-education{
    margin-top: var(--marge-contenu);
}
#details-education-text{
    display: flex;
    flex-direction: column-reverse;
    margin-top: var(--marge-contenu);
}
#det-column{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#det-column div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    text-align: left;
    margin-left: 80px;
    margin-right: 80px;
}
#det-column div span{
    font-weight: bold;
}
#details-we-text{
    margin-top: var(--marge-contenu);
    font-size: 20px;
}
#details-we-text div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#details-we-text div:nth-child(1){
    font-weight: bold;
}
#details-skills{
    margin-top: var(--marge-contenu);
}
#details-skills-text div{
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#details-skills-text{
    margin-top: var(--marge-contenu);
    padding-left: 70px;
}

#details-skills-text div span:nth-child(1){
    font-weight: bold;
    flex: 1;
}
#details-skills-text div span:nth-child(2){
    flex: 2;
    margin: auto;
    margin-left: 10px;
}

/* Loader */
#loader{
    height: 637px;
    line-height: 637px;
    background-color: var(--theme-color);
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    font-family: sans-serif;
    font-size: 30px;
}
.loader{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.loader-double{
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    border-bottom-color: #FFF;
    animation: spin 1s linear 0s infinite;
}

.loader-double::after{
    content: '';
    position: absolute;
    border-radius: 50px;
    top: 5px; left: 5px; bottom: 5px; right: 5px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    border-bottom-color: #FFF;
    opacity: 0.6;
    animation: spinreverse 2s linear 0s infinite;
}

@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
@keyframes spinreverse{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(-360deg);}
}