@font-face {
    font-family: SpringisComing;
    src: url(font/SpringisComing.ttf);
}

:root{
    --main-color: #212F3D;
    --theme-color:#5DADE2;
    --info-bg-color:#E5E8E8;
    --details-bg-color: #FDFEFE;
}

*{
    color: var(--main-color);
}

body{
    background-color: #EBEDEF;
    padding-top: 20px;
}
#contenu{
    height: 1800px;
    width: 1200px;
    margin: auto;
    box-shadow: 5px 5px 20px var(--main-color);
}

#banner{
    height: 360px;
    width: 1200px;
    background-color: var(--theme-color);
}
#info{
    float: left;
    height: 1440px;
    width: 360px;
    background-color: var(--info-bg-color);
    text-align: center;
}
#details{
    display: inline-block;
    height: 80%;
    width: 70%;
    background-color: var(--details-bg-color);
    text-align: center;
}


#photo{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    margin-top: 30px;
}

#photo:hover{
    transform: scale(1.1);
}

#identity_photo{
    float: left;
    height: 360px;
    width: 360px;
    text-align: center;
    margin: 0px;
}

#identity_name{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 360px;
    width: 840px;
}

#identity_text_name{
    position: relative;
    top: 110px;
    font-size: 64px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 5px solid white;
    padding: 50px; 
    text-align: center;
}

.t_title{
    color: white;
    font-family: SpringisComing;
    background-color: var(--main-color);
    padding: 10px;
    font-size: 50px;
}

#identity_text_profession{
    position: relative;
    top: 150px;
    margin:  -20px 200px 200px 200px;
}

#capture_logo i{
    position: relative;
    color: white;
    top: 180px;
    left: 380px; 
    padding: 2px;
    cursor: pointer;
}

.material-icons:hover, .icons:hover{
    transform: scale(1.2);
}

.info{
    border: 5px dashed var(--theme-color);
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 55px 5px 55px; 
    text-align: center;
}

#profile{
    position: relative;
    top: 60px;
}

#profile_text{
    top: 90px;
}

#contact{
    position: relative;
    top: 110px;
}

#profile_text, #contact_text, #seo_text{
    color: var(--main-color);
    position: relative;
    margin: auto 60px 20px 60px;
    font-size: 20px;
    text-align: justify;
}


#contact_text{
    top: 140px;
}

#langue{
    position: relative;
    top: 160px;
}

#langue_text{
    position: relative;
    top: 190px;
}

.langue *{
    color: var(--info-bg-color);
}

.langue_logo{
    padding: 15px;
    border-radius: 50%;
    border: 7px solid var(--info-bg-color);
    font-weight: bold;
}

.langue{
    background-color: var(--theme-color);
    padding: 15px;
    padding-left: 0px;
    padding-right: 60px;
    border-radius: 30px;
}
#langue_text table, #social_text table{
    margin: auto;
}

#langue_text td{
    height: 60px;
}
.langue_name{
    padding-left: 50px;
}

#social{
    position: relative;
    top: 235px;
}

#social_text{
    position: relative;
    top: 260px;
    text-align: left;
    font-size: 20px;
}

#seo{
    position: relative;
    top: 300px;
}

#seo_text{
    position: relative;
    top: 330px;
    text-align: unset;
}

.icons{
    height: 30px;
    width: 30px;
}

#details_education{
    position: relative;
    top: 40px;
}

#details_education_text{
    position: relative;
    top: 20px;
}

#details_work_experience{
    position: relative;
    top: 100px;
}

#details_work_experience_text_table{
    position: relative;
    top: 80px;
    margin-left: 0px;
}

#details_work_experience_text_p{
    position: relative;
    top: 80px;
}

#details_skills{
    position: relative;
    top: 150px;
}

#details_skills_text{
    top: 180px;
}

#details_skills_text tr td{
    padding: 5px;
}

.details_ed{
    top: 50px;
    margin-bottom: 15px;
}

.details_ed, #details_work_experience_text, #details_skills_text{
    position: relative;
    font-size: 20px;
    text-align: left;
    margin-left: 80px;
}

.td_gras{
    font-weight: bold;
}

#details_we{
    position: relative;
    top:50px;
}